.button {
  height: 56px;
  width: 200px;
  margin-right: 42px;
  margin-left: 42px;

  background: whitesmoke;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  transition: transform 0.3s linear;
}

.buttonText {
  font-size: 22px;
  letter-spacing: 1px;
}

.button-center {
  position: fixed;
  bottom: 64px;
  left: calc((100vw / 2) - 142px);
  height: 56px;
  width: 200px;
}

.button:hover {
  transform: scale(1.1);
}
