.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86px;
  width: 56px;
  margin-bottom: 22px;
  border: 2px solid black;
  border-radius: 6px;
}
